@import "tailwindcss";

/* Keep your custom styles below this line */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}